---
const { link, fillColor, label } = Astro.props;
---

<a
	href={link}
	role="link"
	aria-label={label}
	target="_blank"
	class="btn__social"
>
	<slot />
</a>
<style define:vars={{ fillColor }}>
	.btn__social {
		display: inline-block;
		margin-bottom: 0.5rem;
		color: var(--fillColor);
		border: 1px solid rgba(35, 30, 75, 0.808);
		box-shadow: 0px 2px 3px rgba(36, 35, 35, 0.63),
			0px 2px 4px rgba(29, 28, 28, 0.425);
		filter: brightness(150%) opacity(85%);
	}
</style>
<!-- rgba(47, 94, 155, 0.726); -->
