---
import { Biography } from "./Biography";
---

<header
	class="mobile:w-full mobile:text-center sm:h-[80vh] sm:w-2/5 md:me-24 md:w-1/3 lg:sticky mobile:mb-24"
>
	<h1 class="text-gray-100 text-6xl font-bold">Mohamed Elbahy</h1>
	<h3 class="text-3xl pt-4 pb-2 text-gray-400">a junior software engineer</h3>
	<Biography client:visible />
</header>
